{% extends 'base.html.twig' %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
<div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger active" rel="tab1">Avaliados</li>
                            <li class="tab-slider--trigger" rel="tab2">Não avaliados</li>
                        </ul>
                    </div>
                    <div id="tab1" class="tab-slider--body" >
                        <div data-simplebar data-simplebar-auto-hide="false">
                        <table>
                            <thead>
                                <tr>
                                    <th>CODE</th>
                                    <th>STOCK</th>
                                    <th>CAP</th>
                                    <th>INCH</th>
                                    <th>BOX TYPE</th>
                                </tr>
                                <thead>
                                    <tbody>
                                        <tr>
                                            <td>CES-9000</td>
                                            <td>50mt</td>
                                            <td>9mm</td>
                                            <td>1/2"</td>
                                            <td>Kangal / Coil</td>
                                        </tr>
                                        <tr>
                                            <td>CES-9000</td>
                                            <td>50mt</td>
                                            <td>9mm</td>
                                            <td>1/2"</td>
                                            <td>Kangal / Coil</td>
                                        </tr>
                                        <tr>
                                            <td>CES-9000</td>
                                            <td>50mt</td>
                                            <td>9mm</td>
                                            <td>1/2"</td>
                                            <td>Kangal / Coil</td>
                                        </tr>
                                        <tr>
                                            <td>CES-9000</td>
                                            <td>50mt</td>
                                            <td>9mm</td>
                                            <td>1/2"</td>
                                            <td>Kangal / Coil</td>
                                        </tr>
                                        <tr>
                                                <td>CES-9000</td>
                                                <td>50mt</td>
                                                <td>9mm</td>
                                                <td>1/2"</td>
                                                <td>Kangal / Coil</td>
                                            </tr>
                                            <tr>
                                                    <td>CES-9000</td>
                                                    <td>50mt</td>
                                                    <td>9mm</td>
                                                    <td>1/2"</td>
                                                    <td>Kangal / Coil</td>
                                                </tr>
                                                <tr>
                                                        <td>CES-9000</td>
                                                        <td>50mt</td>
                                                        <td>9mm</td>
                                                        <td>1/2"</td>
                                                        <td>Kangal / Coil</td>
                                                    </tr>
                                                    <tr>
                                                            <td>CES-9000</td>
                                                            <td>50mt</td>
                                                            <td>9mm</td>
                                                            <td>1/2"</td>
                                                            <td>Kangal / Coil</td>
                                                        </tr>
                                                        <tr>
                                                                <td>CES-9000</td>
                                                                <td>50mt</td>
                                                                <td>9mm</td>
                                                                <td>1/2"</td>
                                                                <td>Kangal / Coil</td>
                                                            </tr>
                                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <aside></aside>                
            </div>
        </div>
    </div>
    
    <div class="">
        <a href="{{ path('client_form') }}" class="fixed-btn btn btn-warning">
            <span>
                <i class="fas fa-plus"></i>
            </span>
        </a>
    </div>    
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_js') }}
    {{ encore_entry_script_tags('avaliado') }}
{% endblock %}